# Capacitor / Android / build
.capacitor-build/
.capacitor-build-release/
android/
www/
node_modules/
package.json
package-lock.json
*.apk
*.aab

# Firma (NON committare MAI la chiave!)
*.keystore
*.jks
keystore.properties
